.actionButtons {
	display: flex;
	gap: 8px;
}

.createButtonWrapper {
	margin-bottom: 16px;
}

.actionTooltip {
	font-size: 1.1rem;
	padding: 8px 12px;
}

.actionIcon {
	font-size: 22px;
}

.filterInfoText {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 1.55rem;
}
