/* app/page.module.css */

.inicioContainer {
}

.header {
  margin-bottom: 20px;
}

.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--negro);
  margin-top: 5px;
}

.subTitle {
  font-size: 3rem;
  color: var(--gris);
  font-weight: bold;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.infoSection {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Una sección para actividad reciente y otra para accesos rápidos */
  gap: 20px;
}

.recentActivity {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: none; /*deseo ocultar esta seccion por el momento, ya que no tengo datos para mostrar*/
}

.activityTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--negro);
}

.activityList {
  list-style: none;
  padding: 15px;
  margin: 0;
}

.activityItem {
  border-bottom: 1px solid var(--grisClaro);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--grisOscuro);
}

.activityItem::before {
  content: '🏠'; /* Icono de casa */
  margin-right: 10px;
}

.activityDate {
  font-weight: bold;
  margin-right: 5px;
}

.viewAllLink {
  color: var(--verde);
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  display: block;
}

.viewAllLink:hover {
  color: var(--naranja);
  text-decoration: underline;
}

.quickAccess {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.accessTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--negro);
}

.accessButtons {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}